<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4 text-center">University Management System</h1>
  <div>
    <a><img src="https://3.bp.blogspot.com/-h8Ehf0q-Y0s/VyG2_yews-I/AAAAAAAARcg/5ZGOfdzQlewPMptgdThuIWZV15uNb7DKwCK4B/s1600/pl.png" height="150px"></a>
    <a><img src="http://eeia.samorzad.p.lodz.pl/index.php/files/large/8cfc375b8dac9a9" height="150px" class="pull-right"></a>
  </div>
  <div class="col-lg-4 col-sm-6 text-center mb-4 mx-auto">
    <img class="rounded-circle img-fluid d-block mx-auto"
         src="https://media.licdn.com/dms/image/C4D03AQGybxsCwTyhAg/profile-displayphoto-shrink_200_200/0?e=1544659200&v=beta&t=1GSQdtbEfjvzbrBmUy_yRX8BYiYKbGf0cTIyYsBmjWM" alt="">
    <h3>Arkadiusz Mordaka </h3>
    <p>4th year Student of Computer Science at Lodz University of Technology</p>
  </div>

  <div class="mt-lg-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur
      debitis velit facere nisi expedita vel?</p>
  </div>

</div>
