<div class="modal-header">
  <h4 class="modal-title">{{ 'APP.ASSIGN_STUDENTS' | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')"></button>
</div>
<div *ngIf="undefined !== data">
  <div class="modal-body">
    <div *ngIf="undefined !== data">
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th style="width: 10%">
            <mfDefaultSorter by="id">ID</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            <mfDefaultSorter by="username">Index</mfDefaultSorter>
          </th>
          <th style="width: 25%">
            <mfDefaultSorter by="surname">{{ 'APP.FIRST_NAME' | translate }}</mfDefaultSorter>
          </th>
          <th style="width: 25%">
            <mfDefaultSorter by="name">{{ 'APP.LAST_NAME' | translate }}</mfDefaultSorter>
          </th>
          <th style="width: 20%">
            {{ 'APP.ASSIGN' | translate }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of mf.data">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.name}}</td>
          <td>
            <div>
              <label class="switch ">
                <input type="checkbox" class="primary" (change)="assign($event, user.username)">
                <span class="slider round"></span>
              </label>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ 'APP.ASSIGN' | translate }}</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">{{ 'APP.CLOSE' | translate }}</button>
    </div>
  </div>
</div>
