<div class="row" id="contatti">
  <div class="container mt-5">

    <div class="row" style="height:550px;">
      <div class="col-md-6 maps">
      <iframe width="450" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=politechnika%20%C5%82%C3%B3dzka&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <h2 class="text-uppercase mt-3 font-weight-bold text-white">{{ 'APP.CONTACT' | translate }}</h2>
        <form action="">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="{{ 'APP.FIRST_NAME' | translate }}" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="text" class="form-control mt-2" placeholder="{{ 'APP.SUBJECT' | translate }}" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="email" class="form-control mt-2" placeholder="{{ 'APP.EMAIL' | translate }}" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <input type="number" class="form-control mt-2" placeholder="{{ 'APP.TELEPHONE' | translate }}" required>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Description" rows="3" required></textarea>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-light" type="submit">{{ 'APP.SEND_EMAIL' | translate }}</button>
            </div>
          </div>
        </form>
        <div class="text-white">
          <h2 class="text-uppercase mt-4 font-weight-bold">{{ 'APP.WHERE_WE_ARE' | translate }}</h2>
          <i class="fa fa-phone mt-3"></i> <a href="tel:+">(+42) 636 55 22</a><br>
          <i class="fa fa-phone mt-3"></i> <a href="tel:+">(+42) 631 25 02</a><br>
          <i class="fa fa-envelope mt-3"></i> <a href="">universitymanagementsystem@gmail.com</a><br>
          <i class="fa fa-globe mt-3"></i> Stefana Żeromskiego 116, 90-924 Łódź<br>
          <i class="fa fa-globe mt-3"></i> Bohdana Stefanowskiego 18/22, 90-924 Łódź<br>
          <div class="my-4">
            <a href=""><i class="fa fa-facebook fa-3x pr-4"></i></a>
            <a href=""><i class="fa fa-linkedin fa-3x pr-4"></i></a>
            <a href=""><i class="fa fa-twitter fa-3x"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
