<div class="modal-header">
  <h4 class="modal-title">Register Teacher</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" formControlName="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">First Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="surname">Last Name</label>
      <input type="text" formControlName="surname" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.surname.errors }"/>
      <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
        <div *ngIf="f.surname.errors.required">Last Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="username">Index</label>
      <input type="text" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Index is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" formControlName="street" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.street.errors }"/>
      <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
        <div *ngIf="f.street.errors.required">Street is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="numberStreet">Number Street</label>
      <input type="text" formControlName="numberStreet" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.numberStreet.errors }"/>
      <div *ngIf="submitted && f.numberStreet.errors" class="invalid-feedback">
        <div *ngIf="f.numberStreet.errors.required">Number Street is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="postalCode">Postal Code</label>
      <input type="text" formControlName="postalCode" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }"/>
      <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
        <div *ngIf="f.postalCode.errors.required">Postal Code is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" formControlName="city" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.city.errors }"/>
      <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
        <div *ngIf="f.city.errors.required">City is required</div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">Update</button>
      <img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
</div>

