<div *ngIf="undefined !== model" class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-md-12">
                  <h4>Your Profile</h4>
                  <hr>
                </div>
              </div>
              <div><img height="150px" width="150px" [src]="_d.bypassSecurityTrustUrl(imgsrc)"></div>
              <input type="file" (change)="fileChange($event)">
              <form (ngSubmit)="update()">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label for="id" class="col-4 col-form-label">ID</label>
                      <div class="col-8">
                        <input id="id" name="id" [(ngModel)]="model.id" class="form-control here" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="username" class="col-4 col-form-label">Index</label>
                      <div class="col-8">
                        <input id="username" name="username" [(ngModel)]="model.username" class="form-control here"
                               readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="email" class="col-4 col-form-label">Email</label>
                      <div class="col-8">
                        <input name="email" [(ngModel)]="model.email" class="form-control here" required="required"
                               type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="name" class="col-4 col-form-label">First Name</label>
                      <div class="col-8">
                        <input name="name" [(ngModel)]="model.name" class="form-control here" required="required"
                               type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="surname" class="col-4 col-form-label">Last Name</label>
                      <div class="col-8">
                        <input name="surname" [(ngModel)]="model.surname" class="form-control here" required="required"
                               type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="street" class="col-4 col-form-label">Street</label>
                      <div class="col-8">
                        <input name="street" [(ngModel)]="model.street" class="form-control here" required="required"
                               type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="numberStreet" class="col-4 col-form-label">Number Street</label>
                      <div class="col-8">
                        <input name="numberStreet" [(ngModel)]="model.numberStreet" required="required"
                               class="form-control here" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="postalCode" class="col-4 col-form-label">Postal Code</label>
                      <div class="col-8">
                        <input name="postalCode" [(ngModel)]="model.postalCode" class="form-control here"
                               required="required" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="city" class="col-4 col-form-label">City</label>
                      <div class="col-8">
                        <input name="city" [(ngModel)]="model.city" class="form-control here" required="required"
                               type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-4 col-8">
                        <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
