<app-layout>
  <div class="jumbotron">
    <h1>Lorem ipsum dolor sit</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin mattis nibh at congue. Nam vitae tortor imperdiet, finibus lectus sit amet, viverra elit. Sed dui dolor, placerat eu convallis eget, tempus sit amet sapien. Curabitur justo nisi, tincidunt et molestie tincidunt, posuere non metus. Vestibulum id luctus mi, accumsan scelerisque dui. Mauris id augue a urna condimentum tincidunt. Integer eget dolor id risus efficitur sagittis id eu libero. Maecenas a malesuada sem. Duis venenatis a arcu ac egestas. Cras posuere ultrices ex, vel convallis lorem condimentum non. Maecenas vel rhoncus orci. Nullam posuere dui leo, id pulvinar magna molestie eget. Ut mattis auctor ante eu facilisis. Etiam dapibus risus nec lacus fermentum, lacinia rutrum augue bibendum. Curabitur ornare dui enim, at aliquet ex condimentum eu. Sed eget mi at dolor elementum pulvinar ac vel mi. 
    </p>
    <app-modal></app-modal>
  </div>
</app-layout>
