<div *ngIf="undefined !== data">
  <div *ngIf="isTeacher">
    <a class="btn btn-lg btn-info text-white" (click)="openModalAddCourse()"><span class="fa fa-plus"></span> {{ 'APP.ADD_NEW_COURSE' | translate }}</a>
  </div>
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="8" style="width: 90%">
    <thead>
    <tr>
      <th style="width: 10%">
        <mfDefaultSorter by="id">ID</mfDefaultSorter>
      </th>
      <th style="width: 40%">
        <mfDefaultSorter by="subjectName">{{ 'APP.SUBJECT_NAME' | translate }}</mfDefaultSorter>
      </th>
      <th *ngIf="!isTeacher" style="width: 40%">
        <mfDefaultSorter by="name">{{ 'APP.PERSON' | translate }}</mfDefaultSorter>
      </th>
      <th *ngIf="!isTeacher" style="width: 10%">
        <mfDefaultSorter by="grade">{{ 'APP.GRADE' | translate }}</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
      <td>{{item.id}}</td>
      <td>
        <div *ngIf="!isTeacher">
          {{item.subjectName}}
        </div>
        <div *ngIf="isTeacher" class="nondec">
          <a
            routerLink="/item/{{this.authenticationService.getUsername()}}/{{item.subjectName}}">{{item.subjectName}}</a>
        </div>
      </td>
      <td *ngIf="!isTeacher" class="nondec"><a routerLink="/profile/{{item.username}}">{{item.name}}</a></td>
      <td *ngIf="!isTeacher">{{item.grade}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<router-outlet></router-outlet>
