<div *ngIf="undefined !== items">
  <table class="table table-striped" [mfData]="items" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 10%">
        <mfDefaultSorter by="id">ID</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="subjectName">Subject Name</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        <mfDefaultSorter by="name">Person</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="name">Index</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="grade">Grade</mfDefaultSorter>
      </th>
      <th *ngIf="isTeacher" style="width: 20%">
        <mfDefaultSorter by="grade">Options</mfDefaultSorter>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.subjectName}}</td>
      <td>{{item.name}}</td>
      <td>{{item.username}}</td>
      <td>{{item.grade}}</td>
      <td *ngIf="isTeacher">
        <button class="btn-secondary">EDIT</button>
        <button *ngIf="item.grade === null" class="btn-info">PUT</button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
