<h1>List of Users</h1>
<div>
  <button class="btn-dark" (click)="openRegisterModal()">Add Teacher</button>
</div>
<div *ngIf="undefined !== data">
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
      <th style="width: 5%">
        <mfDefaultSorter by="id">ID</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="username">Index</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="surname">Surname</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="name">Last Name</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="email">E-mail</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="createdAt">Created</mfDefaultSorter>
      </th>
      <th style="width: 20%">
        Roles
      </th>
      <th style="width: 25%">
        Options
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of mf.data">
      <td>{{user.id}}</td>
      <div class="nondec">
      <td><a routerLink="/profile/{{user.username}}">{{user.username}}</a></td>
      </div>
      <td>{{user.surname}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.createdAt | date:'dd-MM-yyyy HH:mm'}}</td>
      <td *ngFor="let roles of user.roles">{{roles.name}}</td>
      <td>
        <button class="btn-dark" (click)="open(user)">EDIT</button>
        <button class="btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="deleteUser(user.id)">DELETE</button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to delete this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirmDeleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>