<h1>List of Users</h1>
<div>
  <button class="btn-dark" (click)="openRegisterModal()">Add Teacher</button>
</div>
<div *ngIf="undefined !== data">
  <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
      <th style="width: 2%">
        <mfDefaultSorter by="id">ID</mfDefaultSorter>
      </th>
      <th style="width: 8%">
        <mfDefaultSorter by="username">Index</mfDefaultSorter>
      </th>
      <th style="width: 8%">
        <mfDefaultSorter by="surname">Surname</mfDefaultSorter>
      </th>
      <th style="width: 8%">
        <mfDefaultSorter by="name">Last Name</mfDefaultSorter>
      </th>
      <th style="width: 10%">
        <mfDefaultSorter by="email">E-mail</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="createdAt">Created</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        <mfDefaultSorter by="updatedAt">Updated</mfDefaultSorter>
      </th>
      <th style="width: 15%">
        Roles
      </th>
      <th style="width: 15%">
        Options
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of mf.data">
      <td>{{user.id}}</td>
      <div class="nondec">
        <td><a routerLink="/profile/{{user.username}}">{{user.username}}</a></td>
      </div>
      <td>{{user.surname}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.createdAt | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{user.updatedAt | date:'dd-MM-yyyy HH:mm'}}</td>
      <td *ngFor="let roles of user.roles">{{roles.name}}</td>
      <td>
        <button class="btn-dark" (click)="open(user)">EDIT</button>
        <button class="btn-danger" data-toggle="modal" data-target="#exampleModal" (click)="deleteUser(user)">
          DELETE
        </button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[10,20,50]"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<router-outlet></router-outlet>
