<div class="container">
  <div *ngIf="undefined !== user">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{user.name}} {{user.surname}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>
              <tr>
                <td>ID:</td>
                <td>{{user.id}}</td>
              </tr>
              <tr>
                <td>Index:</td>
                <td>{{user.username}}</td>
              </tr>
              <tr>
                <td>{{ 'APP.CREATED_AT' | translate }}:</td>
                <td>{{user.createdAt | date:'dd-MM-yyyy HH:mm'}}</td>
              </tr>
              <tr>
                <td>{{ 'APP.UPDATED_AT' | translate }}:</td>
                <td>{{user.updatedAt | date:'dd-MM-yyyy HH:mm'}}</td>
              </tr>
              <tr>
                <td>{{ 'APP.STREET' | translate }}:</td>
                <td>{{user.street}}</td>
              </tr>
              <tr>
                <td>{{ 'APP.NUMBER_STREET' | translate }}:</td>
                <td>{{user.numberStreet}}</td>
              </tr>
              <tr>
                <td>{{ 'APP.POSTAL_CODE' | translate }}:</td>
                <td>{{user.postalCode}}</td>
              </tr>
              <tr>
                <td>{{ 'APP.CITY' | translate }}:</td>
                <td>{{user.city}}</td>
              </tr>
              <tr>
                <td>{{ 'APP.EMAIL' | translate }}:</td>
                <td>{{user.email}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <a href="/" class="btn btn-primary">{{ 'APP.BACK_HOME' | translate }}</a>
      </div>
    </div>
  </div>
</div>
